.navbar{
  background: transparent;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.navbar-logo{
  width: 35%;
  margin: auto;
}
.navbar-logo > img{
  width: 30%;
}
.navbar-menu{
  width: 55%;
  display: flex;
  justify-content: flex-end;
}
.navbar-menu > p{
  margin: 10px 5% 0 8px;
  color: #009FCC;
  font-size: 1.2em
}